@import "tailwindcss";

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --black: #0a0a0a;
  --white: #ffffff;
  --red: #ef4444;
  --blue: #3b82f6;

  --card: #f6f7f9;
  --border: #e5e7eb;

  --accent: var(--blue);
  --accent-2: var(--red);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --card: #121212;
  --border: #2a2a2a;
}

html { color-scheme: light; }
html.dark { color-scheme: dark; }

body {
  background: var(--background);
  color: var(--foreground);
}

